controller_manager:
  ros__parameters:
    update_rate: 10  # Hz

    spotarm_planning_group_controller:
      type: joint_state_broadcaster/JointStateBroadcaster
    
    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster


spotarm_planning_group_controller:
  ros__parameters:
    type: ros2_control_demo_example_7/RobotController
    joints:
      - joint_1
      - joint_2
      - joint_3
      - joint_4
      - joint_5

    command_interfaces:
      - position
      - velocity

    state_interfaces:
      - position
      - velocity

joint_state_broadcaster:
  ros__parameters:
    joints:
      - joint_1
      - joint_2
      - joint_3
      - joint_4
      - joint_5